.env
node_modules
__pycache__/bancoDeDados.cpython-313.pyc
__pycache__/main.cpython-313.pyc
__pycache__/modelos.cpython-313.pyc
__pycache__/seguranca.cpython-313.pyc
repositories/__pycache__/cliente_repository.cpython-313.pyc
repositories/__pycache__/funcionario_repository.cpython-313.pyc
repositories/__pycache__/pet_repository.cpython-313.pyc
repositories/__pycache__/servico_repository.cpython-313.pyc
repositories/__pycache__/venda_repository.cpython-313.pyc
routers/__pycache__/cliente_router.cpython-313.pyc
routers/__pycache__/funcionario_router.cpython-313.pyc
routers/__pycache__/login_router.cpython-313.pyc
routers/__pycache__/pet_router.cpython-313.pyc
routers/__pycache__/servico_router.cpython-313.pyc
routers/__pycache__/venda_router.cpython-313.pyc
services/__pycache__/cliente_service.cpython-313.pyc
services/__pycache__/email_service.cpython-313.pyc
services/__pycache__/funcionario_service.cpython-313.pyc
services/__pycache__/pet_service.cpython-313.pyc
services/__pycache__/servico_service.cpython-313.pyc
services/__pycache__/venda_service.cpython-313.pyc
util/__pycache__/cargos.cpython-313.pyc
package-lock.json
__pycache__/sync_data.cpython-313.pyc
