# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# --- Python ---
__pycache__/
*.py[cod]
*$py.class
# Virtual environments
.venv/
venv/
.env/
# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
# Jupyter / IPython
.ipynb_checkpoints
# Logs
*.log
# macOS / Windows / Linux chato
.DS_Store
Thumbs.db
# --- IDE / PyCharm ---
.idea/
